*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Raleway", sans-serif;
}

/* -------- Navbar ---------- */
.navbar{
    padding: 0 !important;
    background-color: #fff;
}
.my-nav{
    box-shadow: 2px 2px 5px rgb(146, 141, 141);
}
.my-nav a{
    text-decoration: none;
    color: #000;
}
.my-nav-item {
    float: right;
    text-align: center;
    font-size: large;
}
.my-nav-item li{
    padding: 18px;
}
.my-nav-item li:hover{
    background-color: #ccc;
}

/* -------- Home ---------- */
.bgimg-1{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(img/bg.jpeg);
    height: 800px;
}
.shadow{
    background-color: rgba(0, 0, 0, 0.6);
    height: 800px;
}
.img-content{
    position: absolute;
    top: 40%;
    left: 0;
    transform: translate(0%, -50%);
    padding: 50px;
}
.img-title{
    color: #fff;
    font-size: 84px;
    margin-bottom: 50px;
}
.img-text{
    padding: 10px;
    color: #fff;
}
.img-btn{
    background-color: rgba(187, 187, 187, 0.6);
    border-radius: 0;
    font-size: 23px;
    padding: 15px 25px;
    margin-top: 40px;
}
.img-btn:hover{
    background-color: rgba(187, 187, 187, 0.8);
}

/* -------- About ---------- */
.about-us{
    margin-top: 100px;
    padding: 100px 30px;
    text-align: center;
}
.about-title h4{
    margin-top: 40px;
}
.about-content{
    margin: 100px 10px;
}
.about-content-p{
    margin-top: 30px;
    padding: 5px;
    font-size: 19px;
}


/* -------- About ---------- */
.we-know{
    background-color: rgb(238, 238, 238);
    padding: 190px 50px;
}
.works-btn{
    background-color: black;
    text-decoration: none;
    color: #fff;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 0;
}
.works-btn:hover{
    color: #000;
    background-color: rgba(175, 175, 175, 0.8);
}
.we-know-img img{
    width: 100%;
    border-radius: 15px;
}

/* -------- Team ---------- */
.team-card{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 0;
    margin-top: 100px;
}
.teammate img{
    width: 100%;
    filter: grayscale(0.8);
}
.teammate-name{
    margin-top: 20px;
}
.teammate-name, .teammate-title, .team-text{
    padding: 10px 20px;
    text-align: left;
}
.teammate-title{
    font-size: 20px;
}
.team-text{
    font-size: 20px;
}
.team-btn{
    padding: 10px 20px;
    text-align: center;
    border-radius: 0;
    margin-bottom: 20px;
    background-color: rgba(230, 230, 230, 0.8);
    width: 90%;
    font-size: 20px;
}
.team-btn:hover{
    background-color: rgba(187, 187, 187, 0.8);
}

/* -------- Team ---------- */
.row{
    margin: 0 !important;
}
.gray{
    background-color: rgb(92, 92, 92);
    color: #fff;
    text-align: center;
    padding: 90px 20px;
}

/* -------- Team ---------- */
.works-img{
    padding: 10px;
}
.works-img img{
    width: 108%;
}
.works-img img:hover{
    opacity: 0.7;
}
